.mindMap {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (min-width: 768px) {
    padding-top: 80px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 120px;
  }
}
.mindTitle {
  margin-bottom: 24px;
  color: #fff;

  font-family: 'Right Grotesk';
  font-size: 44px;
  font-style: normal;
  font-weight: 900;
  line-height: 40px; /* 90.909% */
  text-transform: uppercase;

  @media screen and (min-width: 768px) {
    margin-bottom: 40px;
    font-size: 80px;
    line-height: 80px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 80px;
    font-size: 160px;
    line-height: 160px;
  }
}

.mindSwiper {
  width: 216px;
}

.mindCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 216px;
  height: 242px;
  padding: 24px 12px;
  border-radius: 12px;
  background: #1e1e1e;
  @media screen and (min-width: 768px) {
    width: 284px;
    padding: 24px;
  }

  @media screen and (min-width: 1280px) {
    width: 504px;
    height: 480px;
  }
}

.mindDescription {
  color: #fff;

  font-family: 'Messina Sans Mono';
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px; /* 116.667% */
  text-transform: uppercase;
  @media screen and (min-width: 768px) {
    width: 128px;
    margin-left: auto;
    text-align: left;
  }
  @media screen and (min-width: 1280px) {
    width: 228px;
    font-size: 24px;
    line-height: 29px; /* 120.833% */
  }
}

.mindCardTitle {
  color: #fff;

  font-family: 'Right Grotesk';
  font-size: 32px;
  font-style: normal;
  font-weight: 900;
  line-height: 32px; /* 100% */
  text-transform: uppercase;

  @media screen and (min-width: 1280px) {
    font-size: 64px;
    line-height: 64px; /* 100% */
  }
}

.mindCardRed {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 216px;
  height: 242px;
  padding: 24px 12px;
  border-radius: 12px;
  background: #dc3b5a;
  @media screen and (min-width: 768px) {
    width: 284px;
    padding: 24px;
  }
  @media screen and (min-width: 1280px) {
    width: 504px;
    height: 480px;
  }
}

.mindCardArrow {
  margin-left: auto;
  width: 24px;
  height: 24px;
  @media screen and (min-width: 1280px) {
    width: 40px;
    height: 40px;
  }
}

.sliderNavigation {
  display: flex;
  justify-content: center;
  gap: 48px;
}
.sliderPrev,
.sliderNext {
  color: #fff;
  cursor: pointer;

  font-family: 'Biro Script Plus';
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 125% */
}

.gridContainer {
  display: grid;
  grid-template-columns: 284px 284px;
  grid-template-rows: auto auto;
  gap: 24px;

  @media screen and (min-width: 1280px) {
    grid-template-columns: 504px 504px;
  }
}
