.faqSection {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (min-width: 768px) {
    padding-top: 80px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 120px;
  }
}

.faqTitle {
  color: #fff;
  margin-bottom: 24px;

  font-family: 'Right Grotesk';
  font-size: 44px;
  font-style: normal;
  font-weight: 900;
  line-height: 40px; /* 90.909% */
  text-transform: uppercase;
  @media screen and (min-width: 768px) {
    font-size: 80px;
    line-height: 80px; /* 100% */
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 80px;
    font-size: 160px;
    line-height: 160px;
  }
}

.faqItem {
  width: 216px;
  @media screen and (min-width: 768px) {
    width: 100%;

    position: relative;
  }
}

.faqItem:not(:last-child) {
  margin-bottom: 16px;
  @media screen and (min-width: 1280px) {
    margin-bottom: 36px;
  }
}

.cardMarker {
  color: #dc3b5a;

  font-family: 'Biro Script Plus';
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  @media screen and (min-width: 1280px) {
    margin-bottom: 36px;
    font-size: 24px;
    line-height: 40px;
  }
}

.cardTitle {
  color: #fff;
  margin-bottom: 10px;

  font-family: 'Right Grotesk';
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: 20px;
  text-transform: uppercase;
  @media screen and (min-width: 768px) {
    width: 355px;
    font-size: 32px;
    line-height: 32px;
  }
  @media screen and (min-width: 1280px) {
    width: 635px;
    font-size: 64px;
    line-height: 64px;
  }
}

.cardContent {
  color: #fff;

  font-family: 'Messina Sans Mono';
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px; /* 116.667% */
  text-transform: uppercase;
  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 19px;
  }
}

.faqItem h2 {
  color: #fff;
}

.faqItem p.cardMarker {
  color: #dc3b5a;
}

.faqItem.open h2 {
  color: #dc3b5a;
}

.faqItem.open p.cardMarker {
  color: #fff;
}

.faqItem.open {
  width: 216px;
  height: auto;
  padding: 8px 8px 10px 8px;
  border-radius: 12px;
  background: #1e1e1e;

  @media screen and (min-width: 768px) {
    width: 592px;
    height: 159px;
  }

  @media screen and (min-width: 1280px) {
    width: 1032px;
    height: 250px;
  }
}

.cardPos {
  display: flex;
  gap: 8px;
}
