.heroSection {
  width: 344px;
  height: 542px;
  padding: 36px 64px 19px 64px;

  background-color: #dc3b5a;

  border-radius: 12px;

  @media screen and (min-width: 768px) {
    width: 736px;
    height: 421px;
    border-radius: 16px;
  }
}

.heroPreTitle {
  text-align: center;
  color: #1e1e1e;

  font-family: "Biro Script Plus Bold US";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 1.68;
}

.heroPostTitle {
  margin-bottom: 6px;
  text-align: center;
  color: #1e1e1e;

  font-family: "Biro Script Plus Bold US";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 1.68;
}

.heroMainTitle {
  margin-bottom: 8px;
  text-align: center;
  color: #1e1e1e;

  font-family: "Right Grotesk";
  font-size: 44px;
  font-style: normal;
  font-weight: 900;
  line-height: 44px;
  letter-spacing: 1;
}

.heroDescr {
  color: #1e1e1e;

  text-align: center;
  font-family: "Messina Sans Mono";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px; /* 116.667% */
  text-transform: uppercase;
}

.apeImage {
  width: 216px;
}

.buttonMeet {
  width: 216px;
  /* height: 41px; */
  margin-bottom: 12px;
  padding: 10px 70px 12px 70px;
  justify-content: center;
  align-items: center;

  color: #1e1e1e;
  font-family: "Right Grotesk Medium";
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  line-height: 19px; /* 118.75% */
  text-transform: uppercase;

  border-radius: 8px;
  border: none;
  background: rgba(30, 30, 30, 0.1);
  backdrop-filter: blur(6px);
}
