.navList {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.navButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  padding: 10px;

  border-radius: 8px;
  background: rgba(30, 30, 30, 0.1);
  backdrop-filter: blur(6px);
}

.navButtonMobile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  padding: 10px;

  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(6px);
}

.menuButtonContent {
  color: var(--main-black-color);
  border: none;
  background-color: transparent;

  font-family: 'Messina Sans Mono';
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 14px;
}

.svgSocial {
  width: 16px;
  height: 16px;
  stroke: rgb(0, 0, 0);
  &:hover {
    stroke: rgb(255, 255, 255);
  }
}
