.headreContainer {
  position: relative;
  width: 100%;
  @media screen and (min-width: 768px) {
    margin: 0 auto;
    width: 768px;
  }
  @media screen and (min-width: 1280px) {
    width: 1280px;
  }
}

.headerPos {
  width: 344px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding: 0, 8px;
}

.navButtons {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 62px;
  right: 16px;
  @media screen and (min-width: 768px) {
    top: 66px;
    right: 28px;
    margin-left: 676px;
  }
}

.menuButtonContent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  padding: 10px;
  margin-bottom: 6px;

  border: none;
  border-radius: 8px;
  background: rgba(30, 30, 30, 0.1);
  backdrop-filter: blur(6px);

  color: #1e1e1e;

  font-family: 'Messina Sans Mono';
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 14px; /* 116.667% */
}
