.container {
  background-color: #dc3b5a;

  height: 542px;
  margin-left: 8px;
  margin-right: 8px;
  border-radius: 12px;

  @media screen and (min-width: 768px) {
    width: 736px;
    height: 421px;
    border-radius: 16px;
    margin-right: 16px;
    margin-left: 16px;
  }
  @media screen and (min-width: 1280px) {
    width: 1200px;
  }
}
