.swiperModule {
  width: 216px;

  @media screen and (min-width: 768px) {
    width: 592px;
  }

  @media screen and (min-width: 1028px) {
    width: 1032px;
  }
}

.slideItem {
  width: 216px;
  height: 256px;
  margin-bottom: 24px;
  border-radius: 12px;
  overflow: hidden;

  @media screen and (min-width: 768px) {
    width: 284px;
    height: 336px;
  }
  @media screen and (min-width: 1028px) {
    width: 240px;
    height: 280px;
  }
}

.imageSizing {
  @media screen and (min-width: 768px) {
    width: 284px;
    height: 336px;
  }
  @media screen and (min-width: 768px) {
    width: 240px;
    height: 280px;
  }
}
